
  
<h1>This is user page</h1>
  
<img src=
"https://www.shutterstock.com/image-vector/do-it-motivational-quote-260nw-2179107727.jpg">
  
<h1>This is home page</h1>
  
<li><a href="/register">Sign up!!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>